<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64267434300-89l137bav4cavndoea6la53o7eun269d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64267434300-89l137bav4cavndoea6la53o7eun269d</string>
	<key>API_KEY</key>
	<string>AIzaSyBeajeB5d-bDn8xw3BBtB1JCYZ70kCpYUw</string>
	<key>GCM_SENDER_ID</key>
	<string>64267434300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.creditManager</string>
	<key>PROJECT_ID</key>
	<string>cregit-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>cregit-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64267434300:ios:4b24cbf10f47b025408639</string>
</dict>
</plist>